body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.no-borders table,
.no-borders th,
.no-borders td {
    border: none !important;
}

input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.upload-fields {
    display: none;
}

#modeGenerate:checked ~ .generate-fields {
    display: flex;
}

#modeGenerate:checked ~ .upload-fields {
    display: none;
}

#modeUpload:checked ~ .generate-fields {
    display: none;
}

#modeUpload:checked ~ .upload-fields {
    display: block;
}

.generate-fields {
    margin: 1rem 0;
    gap: 1rem;
    flex-wrap: wrap;
}

.upload-fields {
    margin: 1rem 0;
}
table, th, td {
    border: none !important;
}

.table {
    width: 100% !important;
    table-layout: auto;
}

.table-frame {
    display: none;
    width: 100%;
    overflow: hidden;
    border: none;
}

body {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}

.generate-fields,
.upload-fields {
    display: none !important;
}
/* отображается, когда выбран режим генерации */
#modeGenerate:checked ~ .generate-fields {
    display: flex !important;
}
/* отображается, когда выбран режим загрузки */
#modeUpload:checked ~ .upload-fields {
    display: block !important;
}

.custom-btn {
    display: inline-block;
    color: #fff;
    background-color: #2062b8; /* или #0d6efd как у Bootstrap 5 primary */
    border: none;
    border-radius: 0.3rem;
    padding: 0.6em 1.7em; /* размер текста больше стандартного Bootstrap */
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    transition: background 0.15s;
    box-shadow: 0 2px 8px rgba(33, 90, 193, 0.08);
    cursor: pointer;
}

    .custom-btn:hover, .custom-btn:focus {
        background-color: #174486; /* темнее для наведения */
        color: #fff;
        text-decoration: none;
    }
}

h4 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}